{% load static %}
<!doctype html>
<html>
    <!-- {% block content %} -->
    <head>
        <title>Show</title>
        <!-- <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="module" src="{% static 'js/show.js' %}"></script> -->
    </head>
    <body>
        {% if image %}
            <img src="{{ image.image.url }}" alt="Captured Image">
        {% else %}
            <p>No image available</p>
        {% endif %}
        <script>
            // Log the image_extract JSON data to the console
            var imageExtract = {{ image_extract |safe }};
            console.log("Image Extract:", imageExtract );

            for (let index = 0; index < imageExtract.length; index++) {
                const element = imageExtract[index];
                for (let idx = 0; idx < element.length; idx++) {
                    console.log(element[idx])
                    
                }
            }            

            var extractDiv = document.createElement('div');
            extractDiv.id = 'imageExtractData';

            extractDiv.innerHTML = '<h2>Image Extract Data</h2>';

            //var blocks = imageExtract['pages'][0]['blocks'];

            imageExtractData = imageExtract[0]
            for (let index = 0; index < imageExtractData.length; index++) {
            
                const Recog = imageExtractData[index][1]
                console.log("this is Recog ", Recog)


                const word = Recog[0]
                const confidence = Recog[1]

                lineDiv = document.createElement('div');
                lineDiv.class = 'block';

                wordElement = document.createElement('p');
                wordElement.textContent = word
                lineDiv.appendChild(wordElement);

                confidElement = document.createElement('p');
                confidElement.textContent = confidence.toString();
                lineDiv.appendChild(confidElement);
                
                extractDiv.appendChild(lineDiv)
            }

            document.body.appendChild(extractDiv);
        </script>
    </body>
    <!-- {% endblock %} -->
</html>